node_modules
npm-debug.log
.npm
.nyc_output
.coverage
.coveralls.yml
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.eslintrc.js
.prettierrc
.prettierignore
coverage
.coverage
dist
.tsbuildinfo
.DS_Store
Thumbs.db
*.log
logs
*.pid
*.seed
*.pid.lock
.lock-wscript
build/Release
.vscode
.idea
*.tgz
*.tar.gz
.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
scripts/similarityTest.ts
scripts/mockEventData.ts
output/ 